:root {
  --mast-color: #4d5464;
  --mast-hover-color: #3c4859;
  --mast-bgcolor: #f1f3f4;
  --mast-border-radius: 6px;
  --mast-drop-show: #f1f3f4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: var(--mast-color);
  background-color: var(--mast-bgcolor);
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 1.4em;
}

main {
  width: 100%;
}

.mast-dark {
  --mast-color: #a2abbf;
  --mast-bgcolor: #292a2b;
}

.mast-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mast-container-head {
  background-color: rgba(83, 179, 203, 1);
  font-weight: 600;
  text-align: center;
  padding: 12px 0px;
}

.mast-container-main {
  padding: inherit;
  padding: 12px;
  font-size: 1.3rem;
}

.mast-flex-side {
  display: flex;
  flex-direction: column;
  margin: 12px;
  grid-area: sidebar;
}

.mast-flex-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: stretch;
  gap: 16px;
  grid-area: main;
  margin: 12px;
}

.mast-border-round {
  border-radius: var(--mast-border-radius);
  border: 1px solid #585b63;
}

.mast-border-top {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.mast-border-bottom {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.mast-border-radius-m {
  --mast-border-radius: 12px;
}

.mast-border-radius-l {
  --mast-border-radius: 24px;
}

.mast-border-radius-xl {
  --mast-border-radius: 48px;
}

.mast-text-small {
  font-weight: lighter;
  font-size: 0.7em;
}

.mast-icon {
  display: flex;
  align-items: center;
  margin: 6px 0;
  padding: 22px;
}

.mast-info-box {
  display: flex;
  align-items: center;
  margin: 5% 0px;
  --ggs: 2.5;
  width: 100%;
}

.mast-avatar {
  width: 10vw;
  object-fit: fill;
  border-radius: 25%;
}

.mast-avatar-box {
  display: flex;
  justify-content: center;
}

.mast-showcase {
  display: flex;
  gap: 16px;
  --ggs: 2.5;
  margin: 16px 0px;
}

.mast-grid-container-main {
  display: grid;
  grid-template-areas: "sidebar sidebar main main main main";
  grid-template-columns: repeat(6, 16.60%);
}

.mast-fieldset {
  border: 5px solid rgba(83, 179, 203, 1);
  border-right: none;
  border-bottom: none;
  border-left: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  margin: 16px;
  padding: 32px 0px;
}

.mast-input-field {
  height: 60%;
  width: 90%;
  margin: 8px;
  border: 2px solid var(--mast-color);
  border-radius: 6px;
}

.mast-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  padding: 10px 16px;
}

.mast-grid-item {
  margin: 10px 0px;
}

.mast-input-description {
  text-overflow: wrap;
}

.mast-button {
  background-color: rgba(83, 179, 203, 1);
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border-color: none;
}

.mast-submit {
  margin: 0px 45%;

}

.mast-submit:hover {
  width: 300px;
}

@media (max-width:475px) {
  .mast-grid-container-main {
    grid-template-areas: "sidebar" "main";
    grid-template-columns: auto;
  }

  .mast-fieldset {
    grid-template-columns: 1fr;
  }

  .mast-avatar {
    max-width: 144;
    max-height:192;
  }
}

.mast-navbar {
  padding: 4px 6px;
}

.mast-navbar a {
  text-align: center;
  padding: 4px;
  color: var(--mast-color);
  text-decoration: none;

}

.mast-navbar a:hover {
  background-color: rgb(131, 217, 238);
  text-decoration: none;
}

.mast-menu-drop {
  border-radius: 4px;
  margin: 0;
  display: none;
  list-style-type: none;
  position: absolute;
  background-color: var(--mast-bgcolor);
  z-index: 3;
  text-align: center;
  padding: 6px;

}

.mast-menu-drop li {
  text-align: center;
  margin: 4px;
}

.mast-menu-drop li:hover {
  transform: scale(1.5, .1, 5);
  border-radius: 10px;
}

.mast-menu-show:hover+.mast-menu-drop,
.mast-menu-drop:hover {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

header {
  background-color: rgba(83, 179, 203, 1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 130px;
}