:root{
    --hover-color:red;
    --colorlight:black;
    --colordark:rgb(234, 234, 234);
    --bglight:white;
    --bgdark:rgb(44, 42, 42);
    --border-hover:rgb(34, 30, 30);
}
*{
    box-sizing: border-box;
}
@font-face {
    font-family: "Vazirmatn RD";
    src: url('fonts/webfonts/Vazirmatn-RD-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
body{
    margin: 0;
    background-color: var(--bglight);
    color: var(--colorlight);
    font-family:"Vazirmatn RD";
    font-weight:700;
    font-size: 18px;
}
.dark{
    background-color:var(--bgdark);
    color: var(--colordark);
}
.form{
    display: grid;
    margin: 50px 32px;
}
.form-section{
    margin: 16px 8px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    column-gap: 16px;
    row-gap: 14px;
}
.form-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content:space-between;
    row-gap: 6px;
    height: 69;
}
.center{
    text-align: center;
    justify-content: center;
}
.input-box{
    border: 1.5px solid rgb(34, 30, 30);
    border-radius: 8px;
}
.input-box::placeholder,.input-box{
    font-family:"Vazirmatn RD";
}
.submit-section{
    padding: 16px;
}
.submit-btn{
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
}
.submit-btn:hover{
    background-color: var(--hover-color);
}
@media (max-width:420px) {
    .form-section{
        grid-template-columns:repeat(1,1fr);
    }
}